/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/public/admin_assets/image/
/public/seller_assets/users/
/public/seller_assets/products/
/public/posts/